<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On


RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+)$ Flowcore/index.php [L]
</IfModule>